**/__pycache__/
**/wandb/
**/logs/
*.pkl
baselines/
**/tmp.py
parameters/*.npy
scratch/
*.bak
.python-version
*.out
*.log
main_*.py
eval_*.py
preds_*.py
tmp*
scripts/*.ipynb
**/.pictures/
.python-version