FrEIA @ git+https://github.com/VLL-HD/FrEIA@1779d1fba1e21000fda1927b59eeac0a6fcaa284
clip @ git+https://github.com/openai/CLIP.git
torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.0
numpy>=1.24.0
scipy>=1.10.0
scikit-learn>=1.2.0
joblib>=1.2.0
Pillow>=9.0.0
pyyaml>=6.0
wandb>=0.15.0
matplotlib>=3.7.0
seaborn>=0.12.0
pandas>=2.0.0
tqdm>=4.65.0
opencv-python>=4.7.0
gputil>=1.4.0
