FrEIA @ git+https://github.com/VLL-HD/FrEIA@1779d1fba1e21000fda1927b59eeac0a6fcaa284
torch==1.9.1
torchvision==0.10.1
pyyaml==6.0
annotated-types==0.7.0
click==8.3.1
freia==0.2
gitdb==4.0.12
gitpython==3.1.46
ignite==1.1.0
joblib==1.5.3
numpy==2.2.6
opencv-python==4.12.0.88
pandas==2.3.3
platformdirs==4.5.1
protobuf==6.33.2
pydantic==2.12.5
pydantic-core==2.41.5
pytorch-ignite==0.5.3
pytz==2025.2
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
sentry-sdk==2.48.0
smmap==5.0.2
threadpoolctl==3.6.0
timm==0.5.4
tqdm==4.67.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
wandb==0.23.1